* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-moz-selection {
  background: #6d7f97;
  color: #fff;
}

::selection {
  background: #6d7f97;
  color: #fff;
}

body {
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  line-height: 1.2rem;
  background: #ecf2f8;
  color: #9eafc2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

@media (max-width: 810px) {
  body {
    display: block;
    min-height: auto;
  }
}

h1, h2, h3 {
  color: #48556a;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  max-width: 730px;
  width: 100vw;
  border-radius: 11px;
}

@media (max-width: 810px) {
  .article-wrap {
    display: block;
    width: 90vw;
    margin: 2rem auto;
  }
}

.article-wrap .article-img {
  width: 39%;
  background-image: url("../images/drawers.jpg");
  background-size: cover;
  border-bottom-left-radius: 11px;
  border-top-left-radius: 11px;
}

@media (max-width: 810px) {
  .article-wrap .article-img {
    width: 100%;
    height: 200px;
    background-position: center;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 11px;
  }
}

.article-wrap .article-text {
  width: 77%;
  padding: 40px 0;
}

@media (max-width: 810px) {
  .article-wrap .article-text {
    width: 100%;
    padding: 0;
  }
}

.article-wrap .article-text .heading {
  font-size: 26px;
  line-height: 30px;
  padding: 40px 40px 0;
}

@media (max-width: 810px) {
  .article-wrap .article-text .heading {
    font-size: 1.1rem;
    line-height: 25px;
  }
}

.article-wrap .article-text p {
  padding: 25px 40px;
}

.article-wrap .article-text .writer-img {
  max-width: 40px;
  border-radius: 50%;
  margin-right: 17px;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.article-wrap .article-text .writer-img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.article-wrap .article-text .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 40px;
}

.article-wrap .article-text .info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.article-wrap .article-text .share {
  position: relative;
  padding: 0 40px;
}

@media (max-width: 810px) {
  .article-wrap .article-text .share {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    padding: 10px 7% 10px 20px;
  }
}

.article-wrap .article-text .share-btn {
  border-radius: 50%;
  border: none;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all ease-in-out .5s;
  transition: all ease-in-out .5s;
}

@media (max-width: 810px) {
  .article-wrap .article-text .share-btn {
    margin: 10px;
  }
}

.article-wrap .article-text .share-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.article-wrap .article-text .share-btn:active, .article-wrap .article-text .share-btn:focus {
  -webkit-animation: animate-btn ease-in-out .2s;
          animation: animate-btn ease-in-out .2s;
}

.article-wrap .article-text .icons {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #48556a;
  position: absolute;
  top: -200%;
  left: -47%;
  padding: 10px 15px;
  padding-left: 23px;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  opacity: 0;
  z-index: 3;
}

@media (max-width: 810px) {
  .article-wrap .article-text .icons {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
  }
}

.article-wrap .article-text .icons:after {
  content: '';
  position: absolute;
  border-color: #48556a transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  top: 100%;
  left: 44%;
}

@media (max-width: 810px) {
  .article-wrap .article-text .icons:after {
    display: none;
  }
}

.article-wrap .article-text .icons .icon {
  padding: 8px;
  cursor: pointer;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

.article-wrap .article-text .icons .icon:first-of-type {
  padding-left: 16px;
}

.article-wrap .article-text .icons .icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.article-wrap .article-text .icons .icon:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
}

.attribution a {
  color: #48556a;
}

@media (max-width: 810px) {
  .attribution {
    position: relative;
    text-align: center;
  }
}

@-webkit-keyframes animate-btn {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate-btn {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 810px) {
  .info-wrap.clicked .share {
    background: #48556a;
    width: 100%;
  }
}

.info-wrap.clicked .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

@media (max-width: 810px) {
  .info-wrap.clicked .info {
    display: none;
  }
}

.info-wrap.clicked .share-btn {
  background: #6d7f97;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.info-wrap.clicked .share-btn img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
/*# sourceMappingURL=style.css.map */